<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>ConcoGrades</title>
  <link rel="icon" href="/static/Media/logoNoName.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/Home.css">
</head>

<body>

  <header class="topBarSpecs navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/admin/Home">
      <img id="homeButtonLogo" src="/static/Media/LogoWithName_transparent.png" alt="Conco Home Logo">
    </a>
    <div style="padding-right: 1%;" class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="btn btn-sm btn-primary" href="/Logout" style="color:white;"><i>Sign out</i></a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-fixed pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin/Home">
                <span data-feather="home" class="align-text-bottom"></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/Announcements">
                <span data-feather="alert-circle" class="align-text-bottom"></span>
                Announcements
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/ClassList">
                <span data-feather="users" class="align-text-bottom"></span>
                Class List
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/EnrollStudent">
                <span data-feather="edit" class="align-text-bottom"></span>
                Enroll Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/admin/StudentReportCard">
                <span data-feather="award" class="align-text-bottom"></span>
                Student Report Card
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/ClassReportCard">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Class Report Card
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/ContactUs">
                <span data-feather="phone" class="align-text-bottom"></span>
                Contact Us
              </a>
            </li>
          </ul>

        </div>
      </nav>

      {% if not current_student %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Student Report Card</h1>
          <br>
        </div>

        <p hidden id="viewMsg">Click on a student ID to view their complete info:</p>
        <p id="addMsg">Class list is currently empty. <a style="text-decoration: underline;" href="/admin/EnrollStudent">Enroll</a> some students first in order to view their personal info and grades.</p>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
              </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                  <td></td>
                  <td id="checkEmpty"><a href="/admin/StudentReportCard/{{student.id}}">{{ student.id }}</a></td>
                  <td>{{ student.fname }}</td>
                  <td>{{ student.lname }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </main>

        {% else %}
      
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">#{{current_student.id}} - {{current_student.fname}} {{current_student.lname}}</h1>
            <div class="btn-group me-2">
              <a class="btn btn-outline-secondary" href="/admin/StudentReportCard" role="button">Back to class list</a>
            </div>
          </div>
          <br>

          <center>
            <canvas id="myChart" style="width:100%;max-width:900px"></canvas>
          </center>
          {% endif %}

      </main>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="/static/Home.js"></script><!-- Bar chart script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  {% if current_student %}
  <script>
    var xValues = ["A1", "A2", "A3", "Midterm", "Final", "Average"];

    var yValues = [];
    let assessments = {{ current_student.get_grades() | tojson | safe }};
    if (isNaN(assessments["average"])) throw 'Average is NaN meaning the student has no scores.';
    for (let i = 0; i < xValues.length; i++) {
      yValues[i] = assessments[xValues[i].toLowerCase()];
    }


    var barColors = ["#12375A", "#12375A", "#12375A", "#12375A", "#12375A", "#12375A"];
    // JavaScript function
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: 0,
              max: 100,
              beginAtZero: true
            }
          }]
        },        
        legend: { display: false },
        title: {
          display: true,
          text: "Student Report Card"
        }
      }

    });
  </script>
  
  {% else %}
  
  <script>
    document.getElementById('viewMsg').hidden = true;
    document.getElementById('addMsg').hidden = false;
  
    let student = document.getElementById('checkEmpty').innerHTML;
    if (student != null) {
      document.getElementById('addMsg').hidden = true;
      document.getElementById('viewMsg').hidden = false;
    }
  </script>
  {% endif %}



</body>


</html>